
<div class="banner" style="background: linear-gradient(135deg, #030435, white);">
  <div class="container">
    <div class="info">
      <h1>Welcome To STRETTO</h1>
      <p>Tell us what kind of musicians you are looking for.</p>
    </div>
    <div class="row">
      <%= form_tag musicians_path, method: :get do %>
        <div class="left">
          <div class="d-flex">
            <div class="col-3">
              <%= text_field_tag :instrument,
                params[:instrument],
                class: "form-control",
                placeholder: "Instrument"
              %>
            </div>
            <div class="col-3 mx-3">
              <%= text_field_tag :style,
                params[:style],
                class: "form-control",
                placeholder: "style"
              %>
            </div>
          </div>
          <div class="row">
            <div class="d-flex">
              <div class="col-3">
                <%= text_field_tag :level,
                  params[:level],
                  class: "form-control",
                  placeholder: "level"
                %>
              </div>
              <div class="col-3 mx-3">
                <%= text_field_tag :zipcode,
                  params[:zipcode],
                  class: "form-control",
                  placeholder: "level"
                %>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container d-flex justify-content-start">
      <div class="row">
        <% @musicians.each do |musician| %>
            <div class="card-profile col-4 m-3">
                <img class="card-img-top height:100px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Card image cap">
                  <div class="card-profile-infos">
                    <h1><%= musician.first_name%> <%= musician.last_name%></h1>
                    <h2><strong>Level:</strong> <%= musician.level %></h2>
                    <h2><strong>Instrument:</strong> <%= musician.instrument %></h2>
                    <h2><strong>Style:</strong> <%= musician.style %></h2>
                    <%# <h2>Frequency: <%= orchestra.frequency %>
                    <%# <h2><strong>Zip Code:</strong> <%= orchestra.zip_code %>
                    <%= link_to "More info", musician_path(musician), class:"card-link"%>
                  </div>
            </div>
        <% end %>
      </div>
</div>
