<h1>Pages#Index Musicians</h1>



<body>

<div class="home-container">
  <div class="home-banner">
    <div class="row">
      <div class="d-flex align-items-end">


          <div class="col-5 d-flex align-items-end">
            <div class="home-banner-firstcol">
            <h1> Instrument
                <label class="home-selection">
                  <label for="instrument-select"></label>
                  <select name="instrument" id="instrument-select">
                    <option value="violon">Violon</option>
                    <option value="guitar">Guitar</option>
                    <option value="piano">Piano</option>
                    <option value="flute">Flûte</option>
                  </select>
                </label>
            </h1>
              <input type="text" id="postalcode" name="name" required
              minlength="5" maxlength="5" placeholder="Postal Code"/>
            </div>
          </div>

          <div class="col-4 d-flex align-items-end">
            <div class="home-banner-secondcol">
              <h1>Style
                <label for="style-select"></label>
                  <select name="style" id="instrument-select">
                    <option value="rock">Rock</option>
                    <option value="classic">Classic</option>
                    <option value="funk">Funk</option>
                    <option value="opera">Opera</option>
                  </select>
              </h1>

              <h1>Size
                <label for="style-select"></label>
                  <select name="style" id="instrument-select">
                    <option value="1">1</option>
                    <option value="4">4</option>
                    <option value="10">10</option>
                    <option value="more than 10">More than 10</option>
                  </select>
              </h1>


            </div>
          </div>

          <div class="col-3">
            <div class="align-self-center">
              <div class="home-banner-search">
                <div class="btn-search">
                  <h1>Search</h1>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
</div>


 <div class="container d-flex justify-content-start">
    <div class="row">
      <% @musicians.each do |musician| %>
          <div class="card-profile col-4 m-3">
              <img class="card-img-top height:100px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Card image cap">
                <div class="card-profile-infos">
                  <h1><%= musician.first_name%> <%= musician.last_name%></h1>
                  <h2><strong>Level:</strong> <%= musician.level %></h2>
                  <h2><strong>Instrument:</strong> <%= musician.instrument %></h2>
                  <h2><strong>Style:</strong> <%= musician.style %></h2>
                  <%# <h2>Frequency: <%= orchestra.frequency %>
                  <%# <h2><strong>Zip Code:</strong> <%= orchestra.zip_code %>
                  <%= link_to "More info", new_musician_invitation_path(musician), class:"card-link"%>
                </div>
          </div>
      <% end %>
    </div>
 </div>
</body>
