<body class="show-body">
  <div class="show-container-mc">
    <div class="show-banner row">
      <div class="show-title col-12">

        <!-- <img class="avatar-large2" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> -->
        <% if @musician.url_photo %>
            <%= image_tag  @musician.url_photo, class: "avatar-large2" %>
         <% elsif @musician.photo.key%>
            <%= cl_image_tag @musician.photo.key , crop: :thumb, gravity: :face, class: "avatar-large2" %>
         <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large-musician" %>
        <%  end %>
        <div class="mc-title">
          <h1 id="name"><%= @musician.first_name%> <%= @musician.last_name %></h1>
        </div>
        <div class="show-cta">
        <%# byebug %>
          <% if @musician ==  Musician.find_by(user_id: current_user.id) %>
            <div class="edit-btn">
              <%= link_to "edit profile", edit_musician_path(@musician), :id => 'edit-btn-text'%>
              <%= image_tag "edit white2", :id => 'edit-icon'%>
            </div>
          <% elsif (@musician.invitations.where(orchestra: @orchestra)).empty? ||  (@musician.invitations.where(orchestra: @orchestra)).find_by(status: "rejected") %>
            <div class="btn-poke-a-musician" data-controller="poke-sent" >
              <%= simple_form_for [@musician, @invitation] do |f| %>
                <%= f.submit 'Poke us',
                              :id => 'show-poke-black-big'
                %>
              <% end %>
              <%= image_tag "Group 3294", :id => 'right-arrow-black-big'%>
            </div>
          <% elsif (@musician.invitations.where(orchestra: @orchestra)).find_by(status: "accepted")%>
              <div class="btn-friends">
                <%= link_to "We are Friends", musician_invitations_path(@musician)%>
              </div>
          <% else %>
              <%= link_to "Poke sent/received", musician_invitations_path(@musician), :id => 'show-poke'%>
          <% end %>
        </div>
      </div>
    </div>

    <div class="show-description-mc">
      <div class="show-infos-mc">
        <div class="infos-left">
          <p><span>Instrument</span> : <%= @musician.instrument %></p>
          <p><span>Level</span> : <%= @musician.level %></p>
          <p><span>Style</span> : <%= @musician.style %></p>
          <p><span>Style</span> : <%= @musician.zip_code %></p>
        </div>
        <div class="infos-right">
          <p><span>Birthday</span> : <%= @musician.birthday %></p>
          <p><span>Bio</span> : <%= @musician.bio %></p>
        </div>

       <% if @invitation_check %>
        <div class="space-friends">
          <p><span>E-Mail</span> : <%= @email_musician %></p>
          <p><span>Mobile</span> : <%= @musician.phone_number %></pre></p>
       <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
