<h2><%= @musician.first_name %></h2>
<p><%= @musician.last_name %></p>
<p><%= @musician.birthday %></p>
<p><%= @musician.level %></p>
<p><%= @musician.instrument %></p>
<p><%= @musician.style %></p>
<p><%= @musician.photo %></p>
<p><%= @musician.bio %></p>
<p><%= @musician.zip_code %></p>
<%= link_to "Send an invitation", new_musician_invitation_path(@musician), class:"btn btn-primary"%>
