<body class="show-body">
  <div class="show-container">
    <div class="show-banner row">
      <div class="show-title col-12">

        <!-- <img class="avatar-large2" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> -->
        <% if @musician.url_photo %>
            <%= image_tag  @musician.url_photo, class: "avatar-large2" %>
         <% else %>
            <%= cl_image_tag @musician.photo.key , crop: :thumb, gravity: :face, class: "avatar-large2" %>
        <%  end %>
        <div class="mc-title">
          <h1 id="name"><%= @musician.first_name%> <%= @musician.last_name %></h1>
        </div>
        <div class="show-cta">
        <%# byebug %>
          <% if @musician ==  Musician.find_by(user_id: current_user.id) %>
            <div class="">
              <%= link_to "edit profile", edit_musician_path(@musician), :id => 'show-poke'%>
              <%= image_tag "fi-rr-arrow-right"%>
            </div>
          <% elsif @musician.invitations.where(orchestra: @orchestra).empty? %>
            <div class="empty" data-controller="poke-sent" >
              <%= simple_form_for [@musician, @invitation] do |f| %>
                <%= f.submit 'Poke us',
                              class: "btn-poke2",
                              :id => 'show-poke'
                %>
              <%= image_tag "fi-rr-arrow-right"%>
              <% end %>
            </div>
          <% else %>
              <%= link_to "Poke sent", musician_invitations_path(@musician), :id => 'show-poke'%>
          <% end %>
        </div>
      </div>
    </div>

    <div class="show-description-mc">
      <div class="show-infos-mc">
        <div class="infos-left">
          <p><span>Instrument</span> : <%= @musician.instrument %></p>
          <p><span>Level</span> : <%= @musician.level %></p>
          <p><span>Style</span> : <%= @musician.style %></p>
          <p><span>Style</span> : <%= @musician.zip_code %></p>
        </div>
        <div class="infos-right">
          <p><span>Birthday</span> : <%= @musician.birthday %></p>
          <p><span>Bio</span> : <%= @musician.bio %></p>
        </div>
      </div>
    </div>
  </div>
</body>
