<%= simple_form_for :search, url: musicians_path, method: "GET" do |f| %>
  <div class="form-container">
    <div class="inline-form">
      <%= f.input :instrument,  collection: Musician::INSTRUMENT, label: "Instrument", required: false %>
      <%= f.input :level,
          collection: Musician::LEVEL, label:"Level", required: false
          #wrapper_html: { class: "user-details" },
          %>
      <%= f.input :style, label:'Style', collection: Musician::STYLE, required: false%>
      <%= f.input :zip_code, label: 'Zip-code', required: false %>
      <%# Placeholder input match my posts %>
      <%= f.input :post, label: 'Match my needs', collection: Post.where(orchestra_id: @orchestra_nav), label_method: lambda { |post| post.tag_post }, required: false %>

    </div>
    <div class="buttons-search-mc">
      <%= f.submit class:"btn-musician-search", id:'btn-musicians-search'%>
    </div>
  </div>
<% end %>
