<%= simple_form_for :search, url: orchestras_path, method: "GET" do |f| %>
  <div class="form-container">
    <div class="inline-form">
      <%= f.input :zip_code, label: "Zip Code", required: false %>
      <%= f.input :size, label: "Size", required: false%>
      <%= f.input :type_orchestra,
          label: "Type of Orchestra" ,
          collection: Orchestra::TYPE_ORCHESTRA, required: false %>
      <%= f.input :style, collection: Orchestra::STYLE, required: false%>
      <%= f.input :match, collection: Orchestra::MATCH, label: "Match My Profile", required: false%>
    </div>
    <div class="buttons-search-mc">
      <%= f.submit class:"btn-musician-search", id:'btn-musicians-search'%>
    </div>
  </div>
<% end %>
