
<body class="home-body">
  <div class="home-container">
    <div class="home-hero">
      <div class="hero-left">
        <%= image_tag "LOGO files-02.png", :id => 'logo'%>

        <p>If your a musician, and you'd like to find cool people to play with, create a musician profile now and meet some people.</p>
        <div class="hero-buttons">
          <% if @musician %>
          <%= link_to "Find an orchestra", orchestras_path, class: "btns", :id => 'btn-1' %>
          <% elsif  @orchestra %>
          <%= link_to "Find an musician", musicians_path, class: "btns", :id => 'btn-1' %>
          <% else %>
          <%= link_to "Create a Musician Profile", new_musician_path, class: "btns", :id => 'btn-1' %>
          <%= link_to "Create an Orchestra Profile", new_orchestra_path, class: "btns", :id => 'btn-2' %>
          <% end %>
        </div>
      </div>
      <div class="hero-right">
        <%= image_tag "Rectangle 42" %>
      </div>
    </div>
    <div class="home-carousel">
      <h3>Proudly supported by</h3>
      <%= image_tag "LogoFixeBW", :id => 'logo-sorti' %>
      <p>The Sortilège Orchestra puts forward a real policy of transmission and creation. Thus, each year, in addition to broadcasting works sometimes unknown of the symphonic repertoire, the orchestra is committed to inviting a composer for an unpublished piece, specially dedicated to the Sortilège orchestra. In addition, each year, the musicians have the opportunity to meet and play with a talented soloist, who shares their experience throughout the session.</p>
    </div>
    <div class="home-gallery">
      <div class="gal-row">
        <%= image_tag "Rectangle 28" %>
        <%= image_tag "Rectangle 28-1" %>
        <%= image_tag "Rectangle 28-2" %>
      </div>
      <div class="gal-row">
        <%= image_tag "Rectangle 28-4" %>
        <%= image_tag "Rectangle 28-5" %>
        <%= image_tag "Rectangle 28-6" %>
      </div>
    </div>
  </div>
</body>
