
<body class='index-body'>
  <div class="banner" style="background: linear-gradient(180deg, #D7D7DF, black)">
    <div class="dashboard-ban">
      <div class="container">
        <div class="dashboard-head">
            <h1>My Dashboard</h1>
        </div>
      </div>
  </div>

    <div class="dashboard-menu">
      <div class="container">
        <div class="row">
          <ul class="nav nav-tabs nav-fill nav-test" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="received-tab" data-bs-toggle="tab" data-bs-target="#received" type="button" role="tab" aria-controls="received" aria-selected="true">Received</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-dark" id="sent-tab" data-bs-toggle="tab" data-bs-target="#sent" type="button" role="tab" aria-controls="sent" aria-selected="false">Sent</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="accepted-tab" data-bs-toggle="tab" data-bs-target="#accepted" type="button" role="tab" aria-controls="accepted" aria-selected="false">Accepted</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>


        <div class="tab-content" id="myTabContent">
          <%  if Musician.find_by(user_id: current_user.id) %>
            <div class="tab-pane fade show active" id="received" role="tabpanel" aria-labelledby="received-tab">²
                <%# byebug %>
                    <div class="container d-flex  margin-left-negative">
                        <div class="row">
                          <div class="container d-flex justify-content-start body-page">
                              <div class="row">
                                <%  @invitations_received.each do |invitation| %>
                                    <div class="card-profile col-8 m-3">
                                      <div class="dashboard-background">
                                        <div class="orchestra-card-top-banner">
                                          <div class="row">
                                            <div class="musician-name col-6">
                                              <h1><%= Orchestra.find(invitation.orchestra_id).name %></h1>
                                            </div>
                                            <div class="col-6">
                                              <%# <img class="large-orchestra" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Card image cap"> %>
                                              <% orchestra_photo = Orchestra.find(invitation.orchestra_id) %>
                                              <% if orchestra_photo.photo.key.nil? %>
                                              <div class="large-orchestra-dashboard">
                                                <%=  image_tag 'https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1', class: "large-orchestra" %>
                                              </div>
                                              <% else %>
                                              <div class="large-orchestra-dashboard">
                                                <%= cl_image_tag orchestra_photo.photo.key, class: "large-orchestra-dashboard"%>
                                              </div>
                                              <% end %>
                                            </div>
                                          </div>
                                        </div>
                                          <div class="dashboard-bottom-infos">
                                            <h1><strong>Size:</strong> <%= Orchestra.find(invitation.orchestra_id).size %></h1>
                                            <h2><strong>Zip Code:</strong> <%= Orchestra.find(invitation.orchestra_id).zip_code %></h2>
                                            <h2><strong>Style:</strong> <%= Orchestra.find(invitation.orchestra_id).style %></h2>
                                            <h2><strong>Frequency:</strong> <%= Orchestra.find(invitation.orchestra_id).frequency %></h2>
                                            <div class="accepted-rejected">
                                                <% if invitation.accepted? %>
                                                  <h2>Invitation accepted 👍</h2>
                                                <% elsif invitation.rejected? %>
                                                  <p><strong>Keep trying! 👎</strong></p>
                                                <% else %>
                                                    <%=link_to 'Accept', invitation_path(invitation, status: :accepted, orchestraparams: Orchestra.find(invitation.orchestra_id).id), method: :patch ,  class: "nav-item px-1 accept-btn", id:"accept-btn" %>
                                                    <%=link_to 'Cancel', invitation_path(invitation, status: :rejected, orchestraparams: Orchestra.find(invitation.orchestra_id).id),  method: :patch, data: { confirm: "Are you sure?" }, class: "nav-item px-1 reject-btn", id:"reject-btn" %>
                                                <% end %>
                                                <h6>
                                                  <% orchestra_link = Orchestra.find(invitation.orchestra_id)  %>
                                                  <%= link_to " ", orchestra_path(orchestra_link), class:"card-link-link"%>
                                                </h6>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                <% end %>
                              </div>
                          </div>
                        </div>
                    </div>
            </div>





            <%# byebug %>
            <div class="tab-pane fade" id="sent" role="tabpanel" aria-labelledby="sent-tab">
                <div class="container d-flex  margin-left-negative">
                    <div class="row">
                      <div class="container d-flex justify-content-start body-page">
                          <div class="row">
                            <%  @invitations_sent.each do |invitation| %>
                                <div class="card-profile col-8 m-3">
                                  <div class="dashboard-background">
                                    <div class="orchestra-card-top-banner">
                                      <div class="row">
                                        <div class="musician-name col-6">
                                          <h1><%= Orchestra.find(invitation.orchestra_id).name%></h1>
                                        </div>
                                        <div class="col-6">
                                              <% orchestra_photo = Orchestra.find(invitation.orchestra_id) %>
                                              <% if orchestra_photo.photo.key.nil? %>
                                              <div class="large-orchestra">
                                                <%=  image_tag 'https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1', height: 300, width: 400, crop: :fill, class: "large-orchestra" %>
                                              </div>
                                              <% else %>
                                              <div class="large-orchestra">
                                                <%= cl_image_tag orchestra_photo.photo.key, height: 300, width: 400, crop: :fill, class: "large-orchestra"%>
                                              </div>
                                              <% end %>
                                        </div>
                                      </div>
                                    </div>
                                      <div class="musician-infos">
                                        <h1><strong>Size:</strong> <%= Orchestra.find(invitation.orchestra_id).size %></h1>
                                        <h2><strong>Zip Code:</strong> <%= Orchestra.find(invitation.orchestra_id).zip_code %></h2>
                                        <h2><strong>Style:</strong> <%= Orchestra.find(invitation.orchestra_id).style %></h2>
                                        <h2><strong>Frequency:</strong> <%= Orchestra.find(invitation.orchestra_id).frequency %></h2>
                                        <h6> More info
                                        <% orchestra_link = Orchestra.find(invitation.orchestra_id)  %>
                                          <%= link_to "More info", orchestra_path(orchestra_link), class:"card-link"%>
                                        </h6>
                                      </div>
                                  </div>
                                </div>
                            <% end %>
                          </div>
                      </div>
                    </div>
                </div>
            </div>




            <%# byebug %>
            <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
                  <div class="container d-flex  margin-left-negative">
                      <div class="row">
                        <div class="container d-flex justify-content-start body-page">
                            <div class="row">
                              <%  @invitations_accepted.each do |invitation| %>
                                  <div class="card-profile col-8 m-3">
                                    <div class="dashboard-background">
                                      <div class="orchestra-card-top-banner">
                                        <div class="row">
                                          <div class="musician-name col-6">
                                            <h1><%= Orchestra.find(invitation.orchestra_id).name %></h1>
                                          </div>
                                          <div class="col-6">
                                              <% orchestra_photo = Orchestra.find(invitation.orchestra_id) %>
                                              <% if orchestra_photo.photo.key.nil? %>
                                              <div class="large-orchestra">
                                                <%=  image_tag 'https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1', height: 300, width: 400, crop: :fill, class: "large-orchestra" %>
                                              </div>
                                              <% else %>
                                              <div class="large-orchestra">
                                                <%= cl_image_tag orchestra_photo.photo.key, height: 300, width: 400, crop: :fill, class: "large-orchestra"%>
                                              </div>
                                              <% end %>
                                          </div>
                                        </div>
                                      </div>
                                        <div class="musician-infos">
                                          <h1><strong>Size:</strong> <%= Orchestra.find(invitation.orchestra_id).size %></h1>
                                          <h2><strong>Zip Code:</strong> <%= Orchestra.find(invitation.orchestra_id).zip_code %></h2>
                                          <h2><strong>Style:</strong> <%= Orchestra.find(invitation.orchestra_id).style %></h2>
                                          <h2><strong>Frequency:</strong> <%= Orchestra.find(invitation.orchestra_id).frequency %></h2>
                                          <%# <h2>Frequency: <%= orchestra.frequency %>
                                          <%# <h2><strong>Zip Code:</strong> <%= orchestra.zip_code %>
                                          <h6> More info
                                            <% orchestra_link = Orchestra.find(invitation.orchestra_id)  %>
                                              <%= link_to "More info", orchestra_path(orchestra_link), class:"card-link"%>
                                          </h6>
                                        </div>
                                    </div>
                                  </div>
                              <% end %>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

          <% else %>
            <div class="tab-pane fade show active" id="received" role="tabpanel" aria-labelledby="received-tab">
                <div class="container d-flex  margin-left-negative">
                  <div class="row">
                    <div class="container d-flex justify-content-start body-page">
                        <div class="row">
                          <% @invitations_received.each do |invitation| %>
                              <div class="card-profile col-4 m-3">
                                <div class="dashboard-background">
                                  <div class="musician-card-top-banner">
                                    <div class="row">
                                      <div class="musician-name col-8">
                                        <h4><%= Musician.find(invitation.musician_id).first_name %></h4>
                                        <h1> <%= Musician.find(invitation.musician_id).last_name %></h1>
                                      </div>
                                      <div class="col-4">
                                        <% musician_photo = Musician.find(invitation.musician_id) %>
                                         <% if musician_photo.url_photo %>
                                            <%= image_tag  musician_photo.url_photo, class: "avatar-large-musician" %>
                                          <% elsif musician_photo.photo.key%>
                                            <%= cl_image_tag musician_photo.photo.key , crop: :thumb, gravity: :face, class: "avatar-large-musician" %>
                                          <% else %>
                                            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large-musician" %>
                                          <%  end %>
                                      </div>
                                    </div>
                                  </div>
                                    <div class="dashboard-bottom-infos">
                                      <h1><strong>Level:</strong> <%= Musician.find(invitation.musician_id).level %></h1>
                                      <h2><strong>Instrument:</strong> <%= Musician.find(invitation.musician_id).instrument %></h2>
                                      <h2><strong>Style:</strong> <%= Musician.find(invitation.musician_id).style %></h2>
                                      <div class="accepted-rejected">
                                        <% if invitation.accepted? %>
                                          <h2>Invitation accepted 👍</h2>
                                        <% elsif invitation.rejected? %>
                                          <p><strong>Keep trying! 👎</strong></p>
                                        <% else %>
                                            <%=link_to 'Accept', invitation_path(invitation, status: :accepted, musicianparams: Musician.find(invitation.musician_id).id), method: :patch ,  class: "nav-item px-1 accept-btn", id:"accept-btn" %>
                                            <%=link_to 'Cancel', invitation_path(invitation, status: :rejected, musicianparams: Musician.find(invitation.musician_id).id),  method: :patch, data: { confirm: "Are you sure?" }, class: "nav-item px-1 reject-btn", id:"reject-btn" %>
                                        <% end %>
                                        <h6>
                                          <% musician_link = Musician.find(invitation.musician_id)  %>
                                          <%= link_to " ", musician_path(musician_link), class:"card-link-link"%>
                                        </h6>
                                      </div>
                                    </div>
                                </div>
                              </div>
                          <% end %>
                        </div>
                    </div>
                  </div>
                </div>
            </div>




            <div class="tab-pane fade" id="sent" role="tabpanel" aria-labelledby="sent-tab">
                <div class="container d-flex  margin-left-negative">
                  <div class="row">
                    <div class="container d-flex justify-content-start body-page">
                        <div class="row">
                          <% @invitations_sent.each do |invitation| %>
                              <div class="card-profile col-4 m-3">
                                <div class="dashboard-background">
                                  <div class="musician-card-top-banner">
                                    <div class="row">
                                      <div class="musician-name col-8">
                                        <h4><%= Musician.find(invitation.musician_id).first_name %></h4>
                                        <h1> <%= Musician.find(invitation.musician_id).last_name %></h1>
                                      </div>
                                      <div class="col-4">
                                          <% musician_photo = Musician.find(invitation.musician_id) %>
                                          <% if musician_photo.url_photo %>
                                            <%= image_tag  musician_photo.url_photo, class: "avatar-large-musician" %>
                                          <% elsif musician_photo.photo.key%>
                                            <%= cl_image_tag musician_photo.photo.key , crop: :thumb, gravity: :face, class: "avatar-large-musician" %>
                                          <% else %>
                                            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large-musician" %>
                                          <%  end %>
                                      </div>
                                    </div>
                                  </div>
                                    <div class="musician-infos">
                                      <h1><strong>Level:</strong> <%= Musician.find(invitation.musician_id).level %></h1>
                                      <h2><strong>Instrument:</strong> <%= Musician.find(invitation.musician_id).instrument %></h2>
                                      <h2><strong>Style:</strong> <%= Musician.find(invitation.musician_id).style %></h2>
                                      <h3>
                                        <% if invitation.accepted? %>
                                          <h2>invitation accepted 👍</h2>
                                        <% elsif invitation.rejected? %>
                                          <p><strong>Keep trying! 👎</strong></p>
                                        <% else %>
                                          <%=link_to 'Accept', invitation_path(invitation, status: :accepted, musicianparams: Musician.find(invitation.musician_id).id), method: :patch ,  class: "nav-item px-1", id:"accept-btn" %>
                                          <%=link_to 'Cancel', invitation_path(invitation, status: :rejected, musicianparams: Musician.find(invitation.musician_id).id),  method: :patch, data: { confirm: "Are you sure?" }, class: "nav-item px-1", id:"reject-btn" %>
                                        <% end %>
                                      </h3>
                                      <h6> More info
                                        <% musician_link = Musician.find(invitation.musician_id)  %>
                                          <%= link_to "More info", musician_path(musician_link), class:"card-link"%>
                                      </h6>
                                    </div>
                                </div>
                              </div>
                          <% end %>
                        </div>
                    </div>
                  </div>
                </div>
            </div>




              <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
                <div class="container d-flex  margin-left-negative">
                  <div class="row">
                    <div class="container d-flex justify-content-start body-page">
                        <div class="row">
                          <% @invitations_accepted.each do |invitation| %>
                              <div class="card-profile col-4 m-3">
                                <div class="dashboard-background">
                                  <div class="musician-card-top-banner">
                                    <div class="row">
                                      <div class="musician-name col-8">
                                        <h4><%= Musician.find(invitation.musician_id).first_name %></h4>
                                        <h1> <%= Musician.find(invitation.musician_id).last_name %></h1>
                                      </div>
                                      <div class="col-4">
                                        <img class="avatar-large-musician" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Card image cap">
                                          <% musician_photo = Musician.find(invitation.musician_id) %>
                                          <% if musician_photo.url_photo %>
                                            <%= image_tag  musician_photo.url_photo, class: "avatar-large-musician" %>
                                          <% elsif musician_photo.photo.key%>
                                            <%= cl_image_tag musician_photo.photo.key , crop: :thumb, gravity: :face, class: "avatar-large-musician" %>
                                          <% else %>
                                            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large-musician" %>
                                          <%  end %>
rails                                      </div>
                                    </div>
                                  </div>
                                    <div class="musician-infos">
                                      <h1><strong>Level:</strong> <%= Musician.find(invitation.musician_id).level %></h1>
                                      <h2><strong>Instrument:</strong> <%= Musician.find(invitation.musician_id).instrument %></h2>
                                      <h2><strong>Style:</strong> <%= Musician.find(invitation.musician_id).style %></h2>
                                      <h6> More info
                                        <% musician_link = Musician.find(invitation.musician_id)  %>
                                          <%= link_to "More info", musician_path(musician_link), class:"card-link"%>
                                      </h6>
                                    </div>
                                </div>
                              </div>
                          <% end %>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
          <%  end %>
        </div>



</body>
