<body class="index-body">
  <div class="banner" style="background: linear-gradient(180deg, #73e0ca, black)">
    <div class="container">
      <div class="info">
        <h1>Welcome to Stretto</h1>
        <p>Tell us what kind of collectives you are looking for.</p>
      </div>
      <div class="row">
        <div id="searchform">
          <%= render '/shared/search-form-o', orchestras: @orchestras %>
        </div>
      </div>

      <div class="row">
        <div class="col">
        <% if params[:search] %>
            <% type = "#{params[:search][:type_orchestra]}" %>
            <% size = "#{params[:search][:size]}" %>
            <% style = "#{params[:search][:style]}" %>
            <% zip = "#{params[:search][:zip_code]}" %>
            <% message = "#{params[:search][:type_orchestra]} #{params[:search][:style]} #{params[:search][:size]} #{params[:search][:zip_code]}" %>
            <% if message.blank? %>
              <p>We found <%= @orchestras.count %> Collectives out of <%= Orchestra.count %> on our website.</p>
            <% else %>
              <div class="search-output">
                <div class="filters">
                  <ul>
                    <% if !type.blank? %>
                      <li>Type: <%= type %></li>
                    <% end %>
                    <% if !size.blank? %>
                      <li>Size: <%= size %></li>
                    <% end %>
                    <% if !zip.blank? %>
                      <li>Zip: <%= zip %></li>
                    <% end %>
                    <% if !style.blank? %>
                      <li>Style: <%= style %></li>
                    <% end %>
                  </ul>
                </div>
                <p><%= @orchestras.count %> relevant collectives have been found on our website, out of <%= Orchestra.count %>.</p>
                <%= link_to "Reset search", orchestras_path, :id => 'reset-btn'  %>
              </div>
              <% end %>
          <% else %>
            <p><%= Orchestra.count %> collectives ready to rock!</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>



<div class="container d-flex  margin-top-negative">
      <div class="row">
        <div class="container d-flex justify-content-start body-page">
            <div class="row">
              <% @orchestras.each do |orchestra| %>

                  <div class="card-profile col-4 m-3">

                    <div class="orchestra-background">

                      <div class="orchestra-card-top-banner">
                        <div class="row">
                          <div class="musician-name col-6">
                            <h1><%= orchestra.name%></h1>
                          </div>
                          <div class="col-6">
                            <img class="large-orchestra" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Card image cap">
                          </div>

                        </div>
                      </div>
                        <div class="musician-infos">
                          <h1><strong>Size:</strong> <%= orchestra.size %></h1>
                          <h2><strong>Zip Code:</strong> <%= orchestra.zip_code %></h2>
                          <h2><strong>Style:</strong> <%= orchestra.style %></h2>
                          <%# <h2>Frequency: <%= orchestra.frequency %>
                          <%# <h2><strong>Zip Code:</strong> <%= orchestra.zip_code %>
                          <h3>
                            <%= link_to "Poke", new_orchestra_invitation_path(orchestra), class:"card-link"%>
                            <%= link_to "More info", orchestra_path(orchestra), class:"card-link"%>
                          </h3>
                        </div>
                    </div>
                  </div>
              <% end %>
            </div>
        </div>
      </div>
  </div>
</body>









</body>
