<h2>Orchestra section</h2>
<!-- Orchestra section-->

<div class="container">
  <div>
    <h1><%=@orchestra.name %></h1>
    <h2>BIO: <%= @orchestra.bio %></h2>
    <h2>Style <%= @orchestra.style %></strong> Type <strong><%= @orchestra.type_orchestra  %>!</h2>
    <h2>Rehearsals <strong><%= @orchestra.frequency %></strong></h2>
    <h2><strong>We are <%= @orchestra.size %> people</strong></h2>
  </div>
  <div class="left">
    <a class="" href="#">Poke us</a>
    <a class="" href="#">return</a>
  </div>
</div>

<h2>My Posts</h2>
<!-- post section-->
<%= link_to "New post",new_orchestra_post_path(@orchestra)  %>


<div class="container">
  <% @posts.each do |post|  %>
    <div class="">
      <%= post.id %>
      <%= post.instrument %>
      <%= post.description %>
    </div>
  <%end  %>
</div>
