<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">

    <div id="info-orchestra">
      <h1><%=@orchestra.name %></h1>
      <h2>BIO: <%= @orchestra.bio %></h2>
      <h2>Style <%= @orchestra.style %></strong> Type <strong><%= @orchestra.type_orchestra  %>!</h2>
      <h2>Rehearsals <strong><%= @orchestra.frequency %></strong></h2>
      <h2><strong>We are <%= @orchestra.size %> people</strong></h2>
    </div>

    <div class="left">
      <a class="btn btn-flat" href="#">Poke us</a>
      <a class="btn btn-ghost" href="#">return</a>
    </div>

  </div>
</div>

<div class="container">
 <div class="row">
    <div class="col-6">
      <p><%= @orchestra.description %></p>

    </div>
  </div>
</div>
