<body class="show-body">

  <div class="show-container">

    <div class="show-banner row">
      <div class="show-title col-6">
        <div class="oc-title">
          <h1 id='name'><%= @orchestra.name%></h1>
          <h6><%= @orchestra.bio%></h6>
        </div>
        <div class='btn-poke2'>
          <%= link_to "Poke us", new_orchestra_invitation_path(@orchestra), :id => 'show-poke'%>
          <%= image_tag "fi-rr-arrow-right"%>
        </div>
      </div>
      <div class="show-image col-6">
        <div class="image">
          <%= image_tag "crowd", :id => 'orchestra-banner'%>
        </div>
      </div>


    </div>

    <div class="show-description">


        <div class="show-infos">

          <p><span>Type</span> : <%= @orchestra.type_orchestra %></p>
          <p><span>Style</span> : <%= @orchestra.style %></p>
          <p><span>Size</span> : <%= @orchestra.size %></p>
          <p><span>Frequency</span> : <%= @orchestra.frequency %></p>
        </div>

        <div class="show-bio">
          <p><span>Our bio</span> :</p>
          <%= @orchestra.description %>
        </div>



    </div>

  </div>

  <div class="show-container">
    <h1>We're looking for cool people to join us</h1>
    <div class="post-display">
      <div class="recurrent-post">
        <h3>Recurrent positions</h3>
        <% @posts.each do |post| %>
          <%- if post.type_post == 'Recurrent' %>
            <div class="post-card">
              <div class="post-card-preview">
                <h6><%= post.id %></h6>
              </div>
              <div class="post-card-info">
                <div class="post-card-title">
                  <h3><%= post.instrument %></h3>
                  <div class='btn-poke3'>
                    <%= link_to "Poke us", new_orchestra_invitation_path(@orchestra), :id => 'show-poke2'%>
                    <%= image_tag "Group 3294"%>
                  </div>
                </div>
                <p>Periodicity : <%= post.periodicity %></p>
                <p>Level: <%= post.level %></p>
                <p>Description: <%= post.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="onetime-post">
        <h3>Periodic positions</h3>
        <% @posts.each do |post| %>
          <%- if post.type_post == 'One time' %>
            <div class="post-card">
              <div class="post-card-preview">
                <h6><%= post.id %></h6>
              </div>
              <div class="post-card-info">
                <div class="post-card-title">
                  <h3><%= post.instrument %></h3>
                  <div class='btn-poke3'>
                    <%= link_to "Poke us", new_orchestra_invitation_path(@orchestra), :id => 'show-poke2'%>
                    <%= image_tag "Group 3294"%>
                  </div>
                </div>
                <p>Date: <%= post.date %></p>
                <p>Level: <%= post.level %></p>
                <p>Description: <%= post.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
