<body class="show-body">

  <div class="show-container">

    <div class="show-banner row">
      <div class="show-title col-6">
        <div class="oc-title">
          <h1 id='name'><%= @orchestra.name%></h1>
          <h6><%= @orchestra.bio%></h6>
        </div>
        <div class="show-cta">
          <% if @orchestra ==  Orchestra.find_by(user_id: current_user.id)  %>
            <div class="edit-btn">
              <%= link_to "edit profile", edit_orchestra_path(@orchestra), :id => 'edit-btn-text'%>
              <%= image_tag "edit white2", :id => 'edit-icon'%>
            </div>
           <% elsif @orchestra.invitations.where(musician: @musician).empty? ||  (@orchestra.invitations.where(musician: @musician)).find_by(status: "rejected") %>
            <div class=''>
              <%= simple_form_for [@orchestra, @invitation] do |f| %>
                <%= f.submit 'Poke us', :id => 'show-poke-black'%>
                <%= image_tag "Group 3294", :id => 'right-arrow-black-big'%>
              <% end %>
            </div>
          <% elsif (@orchestra.invitations.where(musician: @musician)).find_by(status: "accepted")%>
              <div class="btn-friends">
                <%= link_to "We are Friends", orchestra_invitations_path(@orchestra)%>
              </div>
          <% else %>
              <%= link_to "Poke sent/received", orchestra_invitations_path(@orchestra), :id => 'show-poke'%>
          <% end %>
        </div>
      </div>
      <div class="show-image col-6">
        <% if @orchestra.photo.key.nil? %>
        <div class="image">
          <%=  image_tag 'https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1', height: 300, width: 400, crop: :fill, :id => 'orchestra-banner' %>
        </div>
        <% else %>
        <div class="image">
            <%= cl_image_tag @orchestra.photo.key, height: 300, width: 400, crop: :fill,  :id => 'orchestra-banner'%>
        </div>
        <% end %>
      </div>


    </div>

    <div class="show-description">
        <div class="show-infos">
          <p><span>Type</span> : <%= @orchestra.type_orchestra %></p>
          <p><span>Style</span> : <%= @orchestra.style %></p>
          <p><span>Size</span> : <%= @orchestra.size %></p>
          <p><span>Frequency</span> : <%= @orchestra.frequency %></p>
        </div>

        <div class="show-bio">
          <p><span>Our bio</span> :</p>
          <%= @orchestra.description %>
        </div>

      <% if @invitation_check %>
        <div class="space-friends">
          <p><span>E-Mail</span> : <%= @email_orchestra %></p>
          <p><span>Mobile</span> : <%= @orchestra.phone_number %></p>
       <% end %>

    </div>

  </div>

  <div class="show-container">
    <% if @orchestra ==  Orchestra.find_by(user_id: current_user.id)  %>
      <div class="user-post-cta">
        <h1>Add your open positions : </h1>
        <div class='btn-new-post'>
          <%= link_to "Create Post", new_orchestra_post_path(@orchestra), :id => 'show-poke-black'%>
          <%= image_tag "add-icon", :id => 'add-icon'%>
        </div>
      </div>
    <% else %>
      <h1>We're looking for cool people to join us</h1>
    <% end %>
    <div class="post-display">
      <div class="recurrent-post">
        <h3>Recurrent positions</h3>
        <% counter_post_periodic = 0 %>
        <% @posts.each do |post| %>
          <%- if post.type_post == 'Recurrent' %>
            <div class="post-card">
              <div class="post-card-preview">
                <h6><%= counter_post_periodic += 1 %></h6>
              </div>
              <div class="post-card-info">
                <div class="post-card-title">
                  <h4><%= post.instrument %></h4>
                  <div class="cta">
                    <% if @orchestra ==  Orchestra.find_by(user_id: current_user.id)  %>
                      <div class="edit-btn">
                        <%= link_to "edit post", '#', :id => 'edit-btn-text'%>
                        <%= image_tag "edit white2", :id => 'edit-icon'%>
                      </div>
                    <% else %>
                      <div class='btn-poke-orchestra-post'>
                        <%= link_to "Poke us", new_orchestra_invitation_path(@orchestra), :id => 'show-poke-black'%>
                         <%#= simple_form_for [@orchestra, @invitation] do |f| %>
                           <%#= f.submit 'Poke us', class: 'btn-poke-orchestra-post', :id => 'show-poke-black'%>
                        <%# end %>
                        <%= image_tag "Group 3294", :id => 'right-arrow-black'%>
                      </div>
                    <% end %>
                  </div>
                </div>
                <p>Periodicity : <%= post.periodicity %></p>
                <p>Level: <%= post.level %></p>
                <p>Description: <%= post.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="onetime-post">
        <h3>Periodic positions</h3>
        <% counter = 0 %>
        <% @posts.each do |post| %>
          <%- if post.type_post == 'One time' %>
            <div class="post-card">
              <div class="post-card-preview">
                <h6><%= counter += 1%></h6>
              </div>
              <div class="post-card-info">
                <div class="post-card-title">
                  <h4><%= post.instrument %></h4>
                  <div class="cta">
                    <% if @orchestra ==  Orchestra.find_by(user_id: current_user.id)  %>
                      <div class="edit-btn">
                        <%= link_to "edit post", '#', :id => 'edit-btn-text'%>
                        <%= image_tag "edit white2", :id => 'edit-icon'%>
                      </div>
                    <% else %>
                      <div class='btn-poke-orchestra-post'>
                        <%= link_to "Poke us", new_orchestra_invitation_path(@orchestra), :id => 'show-poke-black'%>
                        <%= image_tag "Group 3294", :id => 'right-arrow-black'%>
                      </div>
                    <% end %>
                  </div>
                </div>
                <p>Date: <%= post.date %></p>
                <p>Level: <%= post.level %></p>
                <p>Description: <%= post.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
